---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Mi primera linea de codigo en astro</h1>
		<span>Hola, mundo!</span>
		<p>¡Bienvenido a Astro!</p>
		<p>Esta es una página de ejemplo creada con Astro.</p>
		<p>Astro es un generador de sitios estáticos moderno y rápido.</p>
		<p>Para más información, visita <a href="https://astro.build">astro.build</a>.</p>
		<p>¡Disfruta creando con Astro!</p>	
	</body>
</html>
